<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/business.css" />
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>

		<title>Taniti Tourism</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html">Taniti</a>
			</div>
			<nav>
				<div class="nav-container container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link"><a href="./hotels.html">Hotels</a></li>
						<li class="nav-link">
							<a href="./transportation.html">Transportation</a>
						</li>
						<li class="nav-link">
							<a href="./thingstodo.html">Things To Do</a>
						</li>
						<li class="nav-link active"><a href="./business.html">Business</a></li>
						<li class="nav-link"><a href="./contactus.html">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container">
			<section>
				<div>
					<img
						class="home-landing_image"
						src="../images/confroom.jpg"
						alt="conference room"
					/>
				</div>

				<article class="things-todo">
					<div>
						<h1 class="cursive">We meet all your business needs...</h1>
					</div>

					<div class="todo-activities">
						<h4>Business Meetings</h4>
						<div>
							<img src="../images/confroom2.jpg" alt="conference room of people" />
							<p class="left-todo">
                                Why sit in a stuffy office when you can meet clients in luxury on the beautiful island of Tatini? Tatini offers a wide variety of conference rooms, meeting places, shared work spaces. No matter what your needs are, Taniti is sure to have a great work space for all your business, personal and professional needs. Speak with our representatives to find out more.
							</p>
						</div>
					</div>

					<div class="todo-activities">
						<h4>Workspaces</h4>
						<div>
							<img src="../images/confroom4.jpg" alt="empty conference room" />
							<p class="left-todo">
                                Taniti workspaces offer a level of comfort unmatched. Dive deep into your personal or professional work project in one of our many shared office spaces. Taniti offers free WiFi throughout the island, so there's no need to worry about roaming charges or missing that import zoom conference. Our quiet workspace areas are perfect for your project
							</p>
						</div>
					</div>

					<div class="todo-activities">
						<h4>Conferences</h4>
						<div>
							<img src="../images/confroom3.jpg" alt="big conference room" />
							<p class="left-todo">
                                Taniti's conference experience is considered one of the best in the world. Each year, over 200 conferences are held on our island. With 20 large conference centers throughout the island that each host more than 750 business professionals, you can be sure that no matter what type of conference you need to host, we got it covered.
							</p>
						</div>
					</div>
				</article>

				<article class="testimonials">
					<div>
						<h4 class="testimonials-header cursive">What our guest say...</h4>
						<div class="testimonial">
							<img src="../images/testimonial3.jpg" alt="testimonial by user" />
							<p>
								"I've attended several conferences on Taniti and I must say that the level of professionalism is well above par.I can always count on Taniti to provide my conference guest with fantastic accommodations. - Melody Tam"
							</p>
						</div>
					</div>
				</article>
			</section>
			</section>
		</main>
		<footer>
			<p>Taniti Tourism&copy</p>
			<ul>
				<li>
					<a href="https://twitter.com/">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
