<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/contact.css" />
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>

		<title>Taniti Tourism</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html">Taniti</a>
			</div>
			<nav>
				<div class="nav-container container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link"><a href="../views/hotels.html">Hotels</a></li>
						<li class="nav-link">
							<a href="./transportation.html">Transportation</a>
						</li>
						<li class="nav-link">
							<a href="./thingstodo.html">Things To Do</a>
						</li>
						<li class="nav-link"><a href="./business.html">Business</a></li>
						<li class="nav-link active">
							<a href="./contactus.html">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container">
			<section>
				<div>
					<img
						class="home-landing_image"
						src="../images/contactLanding.jpg"
						alt="picture of phone and laptop"
					/>
				</div>

				<article class="contact-info">
					<div>
						<h1 class="cursive">FAQs</h1>
					</div>

					<div class="">
						<p class="questions">
							How many volts are used in Taniti outlets?:
							<p>
							 Power outlets are 120
							volts (the same as in the United States). 
							</p> 
						</p>
						<p class="questions">
							What is the legal drinking age?: 
							<p>
								The drinking age on Taniti is 18 but the drinking age isn't strictly enforced. 								Alcohol is not allowed
							to be served or sold between midnight and 9:00 a.m.
							</p>
						</p>
						<p class="questions">
							Will I be ok only knowing English? 
							<p>
								Many younger Tanitians speak fluent English. Very
							little English is spoken in rural areas, especially by the older
							residents.
							</p>
						</p>
						<p class="questions">
							What if there is a medical emergency?:
							<p>
								There is one
								hospital and several clinics. The hospital has many multilingual
								employees.
							</p>
						</p>
						<p class="questions">
							Is Taniti safe?:
							<p>
								Violent crime is very rare on Taniti,
								but as tourism increases, there are more reports of petty crimes.
							</p>
						</p>
						<p class="questions">
							How is holiday travel on the island of Taniti?:
							<p>
								Taniti celebrates a
								large number of national holidays. Many tourist attractions and
								restaurants will be closed on holidays, so visitors should plan
								accordingly.
							</p>
						</p>
						<p class="questions">
							What is the currency used in Taniti?:
							<p>
								Taniti uses the
								U.S. dollar as its currency, but many businesses will accept euros
								and yen. Several banks facilitate currency exchange, and many
								businesses accept major credit cards.
							</p>
						</p>
					</div>
				</article>

				<article class="contact-info">
					<div>
						<h1 class="cursive">Contact us at anytime...</h1>
					</div>

					<div class="contact-info_details">
						<p>Email: toursim@taniti.com</p>
						<p>Phone#: 888-888-8888</p>
					</div>
				</article>
			</section>
			<article class="contain-map_section">
				<div>
					<h1 class="cursive">How to find us...</h1>
					<img class="home-landing_image" src="../images/map.jpg" alt="a map" />
					<p>Address: 781 Taniti Drive, Taniti Island, Taniti</p>
				</div>
			</article>
		</main>
		<footer>
			<p>Taniti Tourism&copy</p>
			<ul>
				<li>
					<a href="https://twitter.com/">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
