<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/hotels.css" />
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>

		<title>Taniti Tourism</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html">Taniti</a>
			</div>
			<nav>
				<div class="nav-container container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link active"><a href="">Hotels</a></li>
						<li class="nav-link">
							<a href="./transportation.html">Transportation</a>
						</li>
						<li class="nav-link">
							<a href="./thingstodo.html">Things To Do</a>
						</li>
						<li class="nav-link"><a href="./business.html">Business</a></li>
						<li class="nav-link"><a href="./contactus.html">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container">
			<section>
				<div>
					<img
						class="home-landing_image"
						src="../images/homelanding.jpg"
						alt="hotel with palm trees"
					/>
				</div>

				<article class="hotels">
					<h1 class="cursive">Where to stay..</h1>
					<div class="hotel-images">
						<div class="hotel-image">
							<h4>Monarch Resorts</h4>
							<img src="../images/hotel1.jpg" alt="Monarch Resorts" />
							<p>
								Perfect for large parties or private getaways. The gordon homes
								offers a luxurious personal experience.
							</p>
						</div>
						<div class="hotel-image">
							<h4>Fantasy Cove</h4>
							<img src="../images/hotel2.jpg" alt="Fantasy Cove" />
							<p>
								Offer a wide variety of family activities, which includes
								surfing, hiking, and finish.
							</p>
						</div>
						<div class="hotel-image">
							<h4>Paradise Springs</h4>
							<img src="../images/hotel3.jpg" alt="Paradise Springs" />
							<p>
								Relax in a private hut located right on the water. All inclusive
								meals are also included.
							</p>
						</div>
					</div>
				</article>

				<article class="testimonials">
					<div>
						<h4 class="testimonials-header cursive">What our guess say...</h4>
						<div class="testimonial">
							<img src="../images/testimonial.jpg" alt="testimonial by user" />
							<p>
								I was amazed with the variety of luxury hotels on Taniti. With
								so many great options to choose between, there was no doubt
								whatsoever, no matter which option we chose, the trip would be
								magical. -Jane Carson, USA
							</p>
						</div>
					</div>
				</article>
			</section>
		</main>
		<footer>
			<p>Taniti Tourism&copy</p>
			<ul>
				<li>
					<a href="https://twitter.com/">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
