<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/todo.css" />
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>

		<title>Taniti Tourism</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html">Taniti</a>
			</div>
			<nav>
				<div class="nav-container container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link"><a href="./hotels.html">Hotels</a></li>
						<li class="nav-link">
							<a href="./transportation.html">Transportation</a>
						</li>
						<li class="nav-link active">
							<a href="./thingstodo.html">Things To Do</a>
						</li>
						<li class="nav-link"><a href="./business.html">Business</a></li>
						<li class="nav-link"><a href="./contactus.html">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container">
			<section>
				<div>
					<img
						class="home-landing_image"
						src="../images/restauraunt1.jpg"
						alt="hotel with palm trees"
					/>
				</div>

				<article class="things-todo">
					<div>
						<h1 class="cursive">Things To Do...</h1>
					</div>

					<div class="todo-activities">
						<h4>The Eats</h4>
						<div>
							<img src="../images/restauraunt2.jpg" alt="picture of dinner" />
							<p class="left-todo">
								There are over 100 places to eat on Taniti island, including 60
								bars. No matter what your preference are, Taniti restaurants
								cater to guess from all walks of life. Enjoy Asian fusion,
								Italian, Mediterranean, vegan, fish, and many more. Taniti also
								houses it's own brewer, so don't miss out on our local,
								prize-winning beers.
							</p>
						</div>
					</div>

					<div class="todo-activities">
						<h4 class="right-header">Outdoors</h4>
						<div>
							<p class="right-todo">
								With Taniti island expanisive and luxurious coastline, you'll be
								sure to find the perfect outdoor adventure. Hiking, fishing, and
								our Seven Mile beach are all popular attractions. Don't forget
								to check out the Haiku Waterfall located near Fantasy Cove.
							</p>
							<img src="../images/todoOutdoors.jpg" alt="outdoor trail" />
						</div>
					</div>

					<div class="todo-activities">
						<h4>Night Life</h4>
						<div>
							<img src="../images/clubs.jpg" alt="a party at a club" />
							<p class="left-todo">
								Taniti island boast a hot nightlife. It is one of the hottest
								places to be once the sun goes down. Catch a local show, a DJ,
								or even a rocking dance club. There are no "last calls" on this
								island. All our bars and clubs are open until sunrise. After
								all, who sleeps?
							</p>
						</div>
					</div>
				</article>

				<article class="testimonials">
					<div>
						<h4 class="testimonials-header cursive">What our guess say...</h4>
						<div class="testimonial">
							<img src="../images/testimonial2.jpg" alt="testimonial by user" />
							<p>
								"The beaches on Taniti island are some of the most beautiful beaches I've ever seen. Definitely a bucket list destination. Personally, I've been to the island many times in the last 5 years and it only gets better each time i visit. -Mark Cooper"
							</p>
						</div>
					</div>
				</article>
			</section>
			</section>
		</main>
		<footer>
			<p>Taniti Tourism&copy</p>
			<ul>
				<li>
					<a href="https://twitter.com/">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
