<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/transportation.css" />
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>

		<title>Taniti Tourism</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html">Taniti</a>
			</div>
			<nav>
				<div class="nav-container container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link"><a href="./hotels.html">Hotels</a></li>
						<li class="nav-link active">
							<a href="./transportation.html">Transportation</a>
						</li>
						<li class="nav-link">
							<a href="./thingstodo.html">Things To Do</a>
						</li>
						<li class="nav-link"><a href="./business.html">Business</a></li>
						<li class="nav-link"><a href="./contactus.html">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container">
			<section>
				<div>
					<img
						class="home-landing_image"
						src="../images/cars.jpg"
						alt="hotel with palm trees"
					/>
				</div>

				<article class="transportation-details">
					<div>
						<h1 class="cursive">How to get around...</h1>
					</div>

					<div class="transportation-detail">
						<div>
							<h4>Airport Shuttles</h4>
							<img src="../images/shuttle.jpg" alt="bus shuttle" />
						</div>
						<div>
							<h4>Car Rentals</h4>
							<img src="../images/rental.jpg" alt="person in a car" />
						</div>
					</div>
					<div class="transportation-detail">
						<div>
							<h4>Scooter Rentals</h4>
							<img src="../images/scooter.jpg" alt="guy on a scooter" />
						</div>
						<div>
							<h4>Bicycle Shares</h4>
							<img src="../images/bikes.jpg" alt="bike in park" />
						</div>
					</div>
				</article>

				<article class="map">
					<div>
						<p>
							Taniti has partnered with several transportation companies in
							order to offer our guests the fastest, cheapest, and easiest ways
							to get around the island. From direct shuttles from the airport to
							your hotel, to bike rentals, you'll be able to get where you need
							to go quickly and easily. Just select the type of transportation
							that suits your needs best and you'll be directed to our
							transportation partners that can help you book!
						</p>

						<img src="../images/mapdirections.PNG" alt="" />
					</div>
				</article>
			</section>
		</main>
		<footer>
			<p>Taniti Tourism&copy</p>
			<ul>
				<li>
					<a href="https://twitter.com/">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
